*{
   font-family: 'Courier New', Courier, monospace;
}

body{
    background-color:#F5F5DC;
}

#title {
    font-size: 50 px;
    text-align: center;
    color: #1F3623;
    text-decoration: underline;
}
.tomkagai-image {
    display: block;
    margin: 0 auto;
    border: 5px solid #1F3623;
    border-radius: 10px;
    margin: 20px auto;
}

.tomkagai-caption {
    background-color: #4F6642;
    padding: 10px;
    border: 5px solid #1F3623;
    text-align: center;
    color: #d5d3d3;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 10px;
}

.tomkagai-ingredients {
    background-color: #4F6642;
    padding: 10px;
    border: 5px solid #1F3623;
    color: #d5d3d3;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 1px;
}

.tomkagai-steps {
    background-color: #4F6642;
    padding: 10px;
    border: 5px solid #1F3623;
    color: #d5d3d3;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 1px;
}

#home {
    display: block;
    text-align: center;
    color: #1F3623;
    font-size: 20px;
    margin: 20px auto;
}